
@import url(https://fonts.googleapis.com/css?family=Bangers);
body {
  
 background-color: rgb(121, 166, 196); 
}

.wrap {
  padding: 5em 0.5em;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-weight: normal;
  color: #fff;
  text-transform: uppercase;
  font-size: 8em;
  white-space: nowrap;
  font-size: 10vw;
  z-index: 1000;
  font-family: 'Bangers', cursive;
  text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.7);
}

@media screen and (max-width: 50em) {
  h1 {
    font-size: 20vw;
   }
}


#grid{
    margin: 20px auto;
    display: table;
    width: 300px;
    height: 500px;
    padding: 10px;
    background: blue;
    border-radius: 5px;
  }

.col {
    width: 10px;
    height: 70px;
    margin: 3px;
    border: 2px black solid;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    border-radius: 50%
}


.row {
    width: 500px;
    margin: 3px auto;
    display: flex;
    justify-content: center;
}



#winner-display {
    display: none;
    background-color: lightblue;
    color: black;
    font-weight: 300;
    font-family: sans-serif;
}

body {
    text-align: center;
}

#scoreboard {
  display: none;
  background-color:rgba(0, 0, 255, 0.6)  ;
  color: black;
  font-weight: 300;
  font-family: sans-serif;
}

ul {
  background: #3399ff;
  padding: 20px;
}

ul li {
  background: #cce5ff;
  margin: 5px;
}

#score-title{
  font-family: "Lobster";
  font-size: 30px;
  text-align: center;
  margin: 3px auto;
}

#resetButton{
  font-family: sans-serif;
  font-weight: 100;
  letter-spacing: 0.1em;
  background-color: blue;
  cursor: pointer;
  left: 50%;
  top: 50%;
}


#myModal{
  display:none;
  width:25%;
  height: auto;
  position: fixed;
  background-color:rgb(152, 16, 231) ;
  top:25%;
  left:38%;
  z-index:100;
  border-radius:1rem;
}

#myModal .modal-content{
  height:auto;
}

#myModal .modal-header{
  height:auto;
}

#myModal .modal-title{
  text-align:center;
  padding-left:1rem;
  font-family: 'Bangers', cursive;
}

#myModal #bottom-close{
  background-color:rgba(54, 37, 209, 0.7);
  border:0;
  cursor: pointer;
  left: 50%;
  top: 50%;
  font-family: sans-serif;
  text-align: center;
}

#myModal .modal-body{
  background-image: url(https://th.bing.com/th/id/R.99cb2cd6acced0bcf869dabe9a62e9b2?rik=NVo5bn%2f6mB0YPg&pid=ImgRaw&r=0);

}


